@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quicksand-Bold';
    src: url('./fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'GothicA1';
    src: url('./fonts/GothicA1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothicA1-Bold';
    src: url('./fonts/GothicA1-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    background: linear-gradient(115deg, #011823, #7bc1e1); /* Replace with your gradient colors and angle */
    margin: 0;
  }
  
  
  .login-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-login-container {
    border: none;
    border-radius: 50px;
    padding: 50px;
    width: 200px;
    height: 350px;
    background: #d9d9d9;
    text-align: none;
    box-shadow: 12px 12px 5px rgba(10, 10, 10, 0.4);
  } 

  .login-label {
    font-family: 'GothicA1', sans-serif;
    font-size: 12px;
    display: block;
  }
  
  .inputDiv {
    position: relative;
    right: 27px;
  }

  .login-input {
    margin-left: 25px;
    width: 100%;
    padding: 8px;
    padding-right: 1px;
    padding-left: 1px;
    padding-inline-start: 5px;
    margin-bottom: 15px;
    border: 1.7px solid transparent; /* Set a transparent border initially */
    border-image: linear-gradient(45deg, #75B9D9, #05364C); /* Gradient color for the border */
    border-image-slice: 1;
    -webkit-background-clip: text;
    font-size: 10px;
  }
  
  
  .login-button {
    margin-top: 15px;
    background: #d9d9d9;
    color: #011823;
    padding: 5px;
    padding-top: 7px;
    border: 2px solid;
    border-color: #002F45;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'GothicA1-Bold';
    font-size: 11px;
    transition: color 0.3s ease; /* Smooth transition for color change */
    float: right;
    top: 400px;
    align-items: center;
    justify-content: center;
  }
  
  .login-button:hover {
    padding: 7px;
    padding-top: 9px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(225deg, #011823, #7bc1e1);
    color: #d9d9d9;
  }
  
  .login-Admin {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
  }
  
  .login-Loginword {
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    margin-top: 0px;
  }
  
  .login-Admin,
  .login-Loginword {
    line-height: 1.17;
    font-family: 'Quicksand-Bold', sans-serif;
    background: linear-gradient(45deg, #7bc1e1, #154961);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
  }
  
  .username{
    font-family: 'GothicA1-Regular', sans-serif;
    text-align: left;
  }
  
  .side-logo {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 50px;
  }
  
  .login-Servicita {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 50;
    position: absolute;
    top: 25px;
    left: 150px;
  }
  
  .ServicitaHeader {
    margin-top: 15px;
    font-family: 'Quicksand-Bold', sans-serif; 
  }
  
  
